@font-face {
    font-family: ProtestGuerrilla-Regular;
    font-style: normal;
    font-weight: 400;
    src: url("public/fonts/ProtestGuerrilla-Regular.ttf");
}
#index-title{
    text-align: center;
    margin: 100px;
}
.product-name{
    text-align: center;
    text-decoration: none;
}

.product-description{
    text-align: justify;
}

.product-price{
    text-align: center;
}

#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #4b5563;
}

#copyright{
    color: #9ca3af;
    text-align: center;
    padding-top: 20px;
}

#product-create-link{
    position: absolute;
    right: 100px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    background-color: green;
    padding: 10px;
    border-radius: 5px;
}

#form-create-container{
    text-align: center;
    padding-top: 150px;
}

#create-button{
    margin-top: 20px;
    background-color: chocolate;
    color: #a0aec0;
    border-radius: 5px;
    padding: 10px;
}

#about-us-title{
    margin-top: 20px;
    text-align: center;
}

#about-us-body{
    margin-top: 50px;
    text-align: justify;
}

#contact-title{
    margin-top: 50px;
}

#product-show-title{
    text-align: center;
}

#product-description-title{
    margin-top: 50px;
}

#product-price-title{
    margin-top: 50px;
}

.cards{
    border: 1px solid #d2691e;
    margin: 20px;
    text-align: center;
}

#edit-icon{
    float: right;
}

#delete-icon{
    float: right;
    margin-left: 20px;
}

